@charset "UTF-8";

:root{
    --font1: 'arial', sans-serif;
    --color-princ: #127369e3;
    --color-sec: #0d3632;
    --color-dec1: #8AA6A3;
    --color-dec2: #4C5958;
    --color-dec3: #BFBFBF;
    --color-black: #000;
    --color-white: #fff;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font1);
}

header{
    background-color: var(--color-princ);
    color: var(--color-sec);
    text-align: center;
    padding: 25px;
    text-shadow: 2px 2px 2px var(--color-princ);
}

header > h1{
    font-size: 3em;
}

.subtitulo{
    padding: 10px;
}

nav{
    margin-top: 15px;
}

nav > a{
    color: var(--color-sec);
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
    transition: 0.3s;
}

nav > a:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 1px var(--color-black);
}

main{
    padding: 10px;
    margin: auto;
    max-width: 800px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

table{
    margin: auto;
    border-collapse: collapse;
}

caption{
    font-size: 1.5em;
    color: var(--color-sec);
    padding: 10px;
    text-shadow: 1px 1px 1px var(--color-sec);
}

td, th{
    border: 1px solid var(--color-dec1);
    padding: 10px;
}

tr:nth-child(even){
    background-color: var(--color-dec3);
}

.importante{
    font-weight: bolder;
    color: var(--color-princ);
    text-shadow: 1px 1px 1px var(--color-princ);
}

.underline{
    text-decoration: underline var(--color-princ);
    text-shadow: 1px 1px 1px var(--color-dec1);
}

footer{
    background-color: var(--color-princ);
    color: var(--color-sec);
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-shadow: 1px 1px 1px var(--color-princ);
}

footer > a{
    color: var(--color-sec);
    text-decoration: none;
    font-weight: bolder;
    transition: 0.3s;
}

footer > a:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 1px var(--color-black);
}